{layout '../../@layout.latte'}
{templateType App\Templates\Blog\CreateParameters}

{block content}
    <p>
        <a href="{link 'blog'}" class="btn btn-secondary">
            {faSolid 'angle-left'}
            {_'Zpět'}
        </a>
    </p>
    <h2>
        {_'Nový příspěvek', context: 'blog'}
    </h2>
    {include 'form.latte', null, $tags}
{/block}