<div class="mt-5 alert alert-info">
    <h2>{faSolid 'question-circle'} {_'Chcete přispět do blogu?', context: 'blog'}</h2>
    <p>
        {_'Pokud máte zájem o to také tvořit články na laser lize, ozvěte se nám na našem <a href="%s" target="_blank">Discord</a> serveru.', context: 'blog', format: ['https://discord.gg/2ZM6VMuGBY']|noescape}
    </p>
</div>