composer.phar
/vendor/
.idea
*.iml
out
gen
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.lock
*-lock.json
temp/
dist/
node_modules/
private/*
!private/.htaccess
!private/docker-config.ini
!private/config_dummy.ini
build/
*.cache
logs/
*.sass-cache/
docs/