includes:
	- phar://phpstan.phar/conf/bleedingEdge.neon
parameters:
	editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
	level: 7
	paths:
		- src
		- include
		- routes
		- config
	tmpDir: temp
	ignoreErrors:
		-
			identifier: missingType.generics
	universalObjectCratesClasses:
		- Dibi\Row