parameters:
	editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
	level: 7
	paths:
		- src
		- include
		- routes
		- config
	tmpDir: temp
	ignoreErrors:
		-
			identifier: missingType.generics
		-
			identifier: method.childReturnType
			paths:
				- src/GameModels/Traits/WithTeams.php
				- src/GameModels/Traits/WithPlayers.php
	universalObjectCratesClasses:
		- Dibi\Row