{parameters App\Models\Achievements\Title $title, bool $small = false, bool $edit = false}

<span n:tag="($edit ? 'a' : 'span')" n:class="'player-title', 'text-decoration-none', $small ? 'player-title-sm', 'rarity-'.$title->rarity->value"
n:attr="href: $edit ? link(['user', 'tab' => 'title']) : null"
      {if !empty($title->description)}data-toggle="tooltip" title="{_$title->description, domain: 'titles', context: $title->name}"{/if}>
    {_$title->name, domain: 'titles'}
</span>