.time {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
	grid-gap: 1rem;
	padding: 1em;
	width: 100%;

	label, .time-label {
		background: var(--green);
		border: none;
		border-radius: 8px;
		cursor: pointer;
		font-size: 16px;
		margin: .5em 0;
		padding: .5em;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		min-height: calc(2em * var(--bs-body-line-height) + 1em);
		box-shadow: var(--black-shadow) 0 2px 20px 0;

		&.on-call {
			background-color: var(--bs-light);
			color: var(--black-force);
			cursor: help;
		}

		&.filled {
			background-color: var(--danger);
			cursor: not-allowed;
		}

		&.partially-filled {
			background-color: var(--yellow-300);
		}
	}

	input {
		display: none;

		&:checked + label {
			background-color: var(--bs-primary) !important;
			color: var(--bs-primary-text, var(--text)) !important;
		}
	}
}