@use 'sass:map';

@function getUtilityColors($colors) {
	$map: ();
	@each $name, $values in $colors {
		@each $weight, $color in $values {
			$separator: '-';
			@if $weight == '' {
				$separator: '';
			}
			@if type-of($color) == 'map' {
				$map: map.deep-merge(
						$map,
						(
							'#{map.get($color, "alias")}': var(--#{map.get($color, 'alias')}),
							'#{$name}#{$separator}#{$weight}': var(--#{$name}#{$separator}#{$weight}),
						)
				);
			} @else {
				$map: map.deep-merge(
						$map,
						(
							'#{$name}#{$separator}#{$weight}': var(--#{$name}#{$separator}#{$weight}),
						)
				);
			}
			$map: map.deep-merge(
					$map,
					(
						'#{$name}#{$separator}#{$weight}': var(--#{$name}#{$separator}#{$weight}),
					)
			);
		}
	}
	@return $map;
}

@function getThemeColors($colors) {
	$map: ();
	@each $name, $values in $colors {
		@each $weight, $color in $values {
			@if type-of($color) == 'map' {
				$map: map.merge(
						$map,
						(
							'#{map.get($color, "alias")}': map.get($color, 'color')
						)
				);
			}
		}
	}
	@return $map;
}
