// File: main.scss
// Author: Tomáš Vojík <xvojik00@stud.fit.vutbr.cz>
// Main stylesheet that is compiled into /dist/main.css

// Config and maps
@import "load";

// BS Layout & components
@import 'root';
@import 'darkMode';
@import '~bootstrap/scss/reboot';

body {
  min-height: 100vh;
  position: relative;
  background: linear-gradient(180deg, var(--bs-primary) 0%, var(--background) 20rem);
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

main::after {
  content: '';
  display: block;
  height: 10rem;
  grid-row-start: -1;
}

@import '~bootstrap/scss/breadcrumb';
@import '~bootstrap/scss/type';
@import '~bootstrap/scss/containers';
@import '~bootstrap/scss/grid';
@import 'tables';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/dropdown';
@import '~bootstrap/scss/button-group';
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/card';
@import '~bootstrap/scss/progress';
@import '~bootstrap/scss/list-group';

// BS Helpers
@import "~bootstrap/scss/helpers/color-bg";
@import "~bootstrap/scss/helpers/position";
@import "~bootstrap/scss/helpers/visually-hidden";
@import "~bootstrap/scss/helpers/vr";

// BS Utilities
@import '~bootstrap/scss/utilities/api';

// Core items
@import 'animations';

// Utilities
@import 'utilities/filling';

// Components
@import '~flatpickr';
@import 'components/datepicker';
@import 'components/inputs';
@import 'components/loaders';
@import 'components/collapseIndicator';
@import 'components/arena';
@import 'components/links';
@import 'components/dataTable';
@import 'components/gamesList';
@import 'components/autocomplete';
@import 'components/tournaments';
@import 'components/mobileMenu';
@import 'components/svg';