{layout '../@layout.latte'}

{varType \Throwable|null $exception}

{define content}
    <h1>400 - {lang 'Neplatný požadavek', context: 'errors'}</h1>
    <!-- {$exception?->getMessage()} -->
    <!-- {$exception?->getTraceAsString()} -->
{/define}
