{parameters App\Models\Auth\User $user,int $padding = 0,int $moveTop = 0,bool $wrap = true}

{var App\Models\Achievements\Title $title = $user->player->getTitle()}
{include '../../components/user/title.latte', $title, $padding, $moveTop, $wrap}