.collapse-indicator {
	text-align: center;
	max-width: 1.5rem;
}

.collapse-indicator-collapsed {
	display: none !important;
}

.collapse-indicator-not-collapsed {
	display: inline-block !important;
}

.collapsed {
	.collapse-indicator-collapsed {
		display: inline-block !important;
	}

	.collapse-indicator-not-collapsed {
		display: none !important;
	}
}

[data-more][data-less] {
  &:after {
    display: inline;
    content: " " attr(data-less);
  }

  &.collapsed:after {
    content: " " attr(data-more);
  }
}