.collapse-indicator {
	text-align: center;
	max-width: 1.5rem;
}

.collapse-indicator-collapsed {
	display: none;
}

.collapse-indicator-not-collapsed {
	display: inline-block;
}

.collapsed {
	.collapse-indicator-collapsed {
		display: inline-block;
	}

	.collapse-indicator-not-collapsed {
		display: none;
	}
}