.data-table {
	td,
	th {
		vertical-align: middle;
	}

	.sortable {
		cursor: pointer;

		.fa-sort {
			display: inline-block;
		}

		.fa-sort-up {
			display: none;
		}

		.fa-sort-down {
			display: none;
		}

		&.sort-asc {
			.fa-sort {
				display: none;
			}

			.fa-sort-up {
				display: inline-block;
			}

			.fa-sort-down {
				display: none;
			}
		}

		&.sort-desc {
			.fa-sort {
				display: none;
			}

			.fa-sort-up {
				display: none;
			}

			.fa-sort-down {
				display: inline-block;
			}
		}
	}

  svg:not(.player-avatar) {
    path, circle, rect {
      fill: currentcolor;
    }
  }

  .arena-logo {
    height: 4rem;
  }

  .player-avatar {
    height: 4rem;
  }
}

.data-table-large {
  display: table;
}

.data-table-mobile {
  display: none;
}

@include media-breakpoint-down(md) {
  .data-table-large {
    display: none;
  }

  .data-table-mobile {
    display: block;
  }
}