%mobile-menu {
	bottom: 0;
	left: 0;
	position: fixed;
	width: 100%;

	.mobile-nav-item {
		appearance: none;
		background: none;
		border: none;
		color: var(--bs-nav-link-color);
		padding: 1rem;
		text-align: center;
		text-decoration: none;

		.nav-icon {
			display: block;
			font-size: 2rem;
		}

		.nav-text {
			display: block;
		}

		&.active {
			color: var(--bs-navbar-active-color);
		}
	}
}

#mobile-menu {
	@extend %mobile-menu;

	display: flex;
	padding-bottom: .5rem;
	z-index: 100;

	.menu-icon {
		--size: 2rem;

		height: var(--size);
		width: var(--size);
		position: relative;
		display: block;
		margin: 0 auto;

		&::before,
		&::after,
		> span {
			background-color: currentcolor;
			border-radius: 3px;
			content: '';
			display: block;
			height: calc(var(--size) / 5);
			margin: 0;
			transition: all 400ms ease-in-out;
		}

		> span {
			margin: calc(var(--size) / 5) 0;
		}
	}

	.show .menu-icon {
		&::before {
			transform: translateY(200%) rotate(135deg);
		}

		&::after {
			transform: translateY(-200%) rotate(-135deg);
		}

		> span {
			transform: scale(0);
		}
	}

	&.icons-only .mobile-nav-item .nav-text {
		display: none;
	}

	.mobile-nav-item {
		flex: 1 1 0;
	}
}

#mobile-menu-full {
	@extend %mobile-menu;

	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: start;
	max-height: 0;
	overflow-y: auto;
	transition: max-height 500ms ease;
	z-index: 99;

	.btn-close {
		position: absolute;
		right: 2rem;
		top: 2rem;
	}

	.menu {
		max-width: 300px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: stretch;
		position: relative;
		margin-top: 1rem;

		@media screen and (width >= 600px) {
			max-width: 900px;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
			grid-column-gap: 1rem;
		}

		.mobile-nav-item, .lang-btn {
			background-color: rgb(0 0 0 / 10%);
			border-radius: 10px;
			display: flex;
			flex-direction: column;
			margin: .5rem 0;
			text-align: center;
		}

		.lang-btn {
			flex-direction: row;
			align-items: center;
			justify-content: center;
			gap: .5rem;
			border: none;
		}
	}

	.mobile-footer {
		margin-top: 2rem;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: end;
		align-items: center;
	}

	.mobile-nav-item {
		opacity: 0;
		transition: opacity 500ms ease 300ms;
	}

	&.show {
		max-height: 100vh;
		padding: 3rem 2rem 9rem;

		.mobile-nav-item {
			opacity: 1;
		}
	}
}