{varType App\Models\Arena $arena}

<h2 class="my-3 text-center">{lang 'Plánované turnaje'}:</h2>

<div class="d-flex flex-column align-items-center" data-track-content="" data-content-name="Arena - Tournaments">
    {foreach $arena->getPlannedTournaments() as $tournament}
        {include '../../../components/tournament/tournamentCard.latte', tournament: $tournament, reverse: $iterator->counter0 % 2 === 1}
    {/foreach}
</div>