extensions:
	console: OriNette\Console\DI\ConsoleExtension
	search: Nette\DI\Extensions\SearchExtension(%constants.tempDir%)
console:
	name: 'LaserLiga'
services:
search:
	commands:
		in: '%constants.appDir%/src/Cli/Commands'
		extends:
			- Symfony\Component\Console\Command\Command
		tags:
			- console.command
