extensions:
	scheduler: OriNette\Scheduler\DI\SchedulerExtension
scheduler:
	console:
		script: '%constants.appDir%bin/console'
	errorHandler: tracy
	jobs:
		logArchive:
			expression: 0 6 * * *
			callback: [@cron.logArchive, 'run']
		arenaReport:
			expression: 0 23 * * *
			callback: [@cron.reports.arenaReport, 'run']
		arenaWeekly:
			expression: 0 7 * * 1
			callback: [@cron.reports.arenaWeeklyReport, 'run']
		arenaMonthly:
			expression: 2 7 1 * *
			callback: [@cron.reports.arenaMonthlyReport, 'run']
		regressionUpdate:
			expression: 0 3 * * *
			callback: [@cron.regressionUpdate, 'run']
		playerRankUpdate:
			expression: 11 * * * *
			callback: [@cron.playerRankUpdate, 'run']
		playerRankRecalculation:
			expression: 21 * * * *
			callback: [@cron.playerRankRecalculation, 'run']
		playerAchievementCheck:
			expression: 59 * * * *
			callback: [@cron.playerAchievementCheck, 'run']
		sitemap:
			expression: 30 23 * * *
			callback: [@cron.sitemap, 'run']
		gamemodes:
			expression: 45 23 * * *
			callback: [@cron.gamemodes, 'run']
		privacyUpdate:
			expression: 00 12 * * *
			callback: [@cron.privacy, 'run']
		confirmEmail:
			expression: 30 11 * * *
			callback: [@cron.confirmEmail, 'run']
		syncPhotos:
			expression: */5 8-23 * * *
			callback: [@cron.photos.syncPhotos, 'run']
		clearTempPhotos:
			expression: */30 * * * *
			callback: [@cron.photos.clearTempPhotos, 'run']
		preparePhotoArchive:
			expression: 0 * * * *
			callback: [@cron.photos.preparePhotoArchive, 'run']
		recreatePhotoArchive:
			expression: */10 * * * *
			callback: [@cron.photos.recreatePhotoArchive, 'run']
		deleteOldPhotos:
			expression: 0 1 * * *
			callback: [@cron.photos.deleteOldPhotos, 'run']
		googleRefreshTokens:
			expression: 0 4 * * *
			callback: [@cron.google.refreshTokens, 'run']
services:
	# Core scheduler
	scheduler.logger: Lsr\Logging\Logger(%logger.dir%, 'scheduler')
	scheduler.scheduler:
		arguments:
			logger: @scheduler.logger
		alteration: true
	scheduler.executor:
		arguments:
			logger: @scheduler.logger
		alteration: true

	# Cron jobs
	cron.reports.arenaReport: App\Cron\Reports\ArenaReportJob
	cron.reports.arenaWeeklyReport: App\Cron\Reports\ArenaWeeklyReportJob
	cron.reports.arenaMonthlyReport: App\Cron\Reports\ArenaMonthlyReportJob

	cron.logArchive: App\Cron\LogArchiveJob
	cron.regressionUpdate: App\Cron\RegressionUpdateJob
	cron.playerRankUpdate: App\Cron\PlayerRankUpdateJob
	cron.playerRankRecalculation: App\Cron\PlayerRankRecalculationJob
	cron.playerAchievementCheck: App\Cron\PlayerAchievementCheckJob
	cron.sitemap: App\Cron\GenerateSitemapJob
	cron.gamemodes: App\Cron\CheckGameModesJob
	cron.privacy: App\Cron\PrivacyUpdateNotificationJob
	cron.confirmEmail: App\Cron\UserConfirmationEmailsJob

	cron.photos.syncPhotos: App\Cron\Photos\SyncPhotosJob
	cron.photos.clearTempPhotos: App\Cron\Photos\ClearTempPhotosJob
	cron.photos.preparePhotoArchive: App\Cron\Photos\PreparePhotoArchiveJob
	cron.photos.recreatePhotoArchive: App\Cron\Photos\RecreatePhotoArchiveJob
	cron.photos.deleteOldPhotos: App\Cron\Photos\DeleteOldPhotosJob

	cron.google.refreshTokens: App\Cron\Google\RefreshGoogleAccessJob
