includes:
	- vendor/lsr/core/migrations.neon
	- vendor/lsr/auth/migrations.neon
	- config/migrations/arena.neon
	- config/migrations/users.neon
	- config/migrations/games.neon
	- config/migrations/achievements.neon
	- config/migrations/tournaments/events.neon
	- config/migrations/tournaments/league.neon
	- config/migrations/tournaments/tournaments.neon
	- config/migrations/gameGroups.neon
tables:
	page_info:
		order: 0
		definition: '''
    		(
    			`key` varchar(30) NOT NULL DEFAULT '',
    			`value` BLOB DEFAULT NULL,
    			PRIMARY KEY (`key`)
    		) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
    		'''
		modifications:
			0.1:
				- 'CHANGE `value` `value` BLOB DEFAULT NULL;'