includes:
	- vendor/lsr/core/migrations.neon
	- vendor/lsr/auth/migrations.neon
tables:
	page_info:
		definition: '''
    		(
    			`key` varchar(30) NOT NULL DEFAULT '',
    			`value` text DEFAULT NULL,
    			PRIMARY KEY (`key`)
    		) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
    		'''
	App\Models\Arena:
		definition: '''
		(
        	`id_arena` int(11) unsigned NOT NULL AUTO_INCREMENT,
        	`name` varchar(50) NOT NULL DEFAULT '',
        	`lat` double DEFAULT NULL,
        	`lng` double DEFAULT NULL,
        	PRIMARY KEY (`id_arena`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
		'''
	api_keys:
		definition: '''
		(
        	`id_key` int(11) unsigned NOT NULL AUTO_INCREMENT,
        	`id_arena` int(11) unsigned NOT NULL,
        	`key` varchar(50) NOT NULL DEFAULT '',
        	`name` varchar(50) DEFAULT NULL,
        	`valid` tinyint(1) NOT NULL DEFAULT 1,
        	PRIMARY KEY (`id_key`),
        	UNIQUE KEY `key` (`key`),
        	KEY `id_arena` (`id_arena`),
        	KEY `valid` (`valid`),
        	CONSTRAINT `api_keys_ibfk_1` FOREIGN KEY (`id_arena`) REFERENCES `arenas` (`id_arena`) ON DELETE CASCADE ON UPDATE CASCADE
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
		'''
	Lsr\Core\Auth\Models\User:
			definition: '''
			(
				`id_user` int(11) unsigned NOT NULL AUTO_INCREMENT,
				`id_user_type` int(11) unsigned NOT NULL,
				`id_parent` int(11) unsigned DEFAULT NULL,
				`name` varchar(20) NOT NULL DEFAULT '',
				`email` varchar(50) NOT NULL,
				`password` varchar(100) NOT NULL,
				PRIMARY KEY (`id_user`),
				KEY `id_user_type` (`id_user_type`),
				KEY `id_parent` (`id_parent`),
				CONSTRAINT `users_ibfk_1` FOREIGN KEY (`id_user_type`) REFERENCES `user_types` (`id_user_type`) ON UPDATE CASCADE,
				CONSTRAINT `users_ibfk_2` FOREIGN KEY (`id_parent`) REFERENCES `users` (`id_user`) ON DELETE SET NULL ON UPDATE CASCADE
			) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
			'''
			modifications:
				0.1:
					- 'ADD `id_parent` int(11) unsigned DEFAULT NULL AFTER `id_user_type`'
					- 'ADD FOREIGN KEY (`id_parent`) REFERENCES `users` (`id_user`) ON DELETE SET NULL ON UPDATE CASCADE'
	App\Models\Auth\UserConnection:
		definition: '''
		(
        	`id_connection` int(11) unsigned NOT NULL AUTO_INCREMENT,
        	`id_user` int(11) unsigned NOT NULL,
        	`type` enum('rfid','laserforce','other') NOT NULL DEFAULT 'other',
        	`identifier` tinytext NOT NULL,
        	PRIMARY KEY (`id_connection`),
        	KEY `id_user` (`id_user`),
        	CONSTRAINT `user_connected_accounts_ibfk_1` FOREIGN KEY (`id_user`) REFERENCES `users` (`id_user`) ON DELETE CASCADE ON UPDATE CASCADE
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
		'''
		modifications:
			0.1:
				- 'CHANGE `type` enum(''rfid'',''laserforce'',''other'') NOT NULL DEFAULT ''other'''
	App\GameModels\Auth\Player:
		definition: '''
		(
        	`id_user` int(11) unsigned NOT NULL,
        	`id_arena` int(11) unsigned DEFAULT NULL,
        	`code` varchar(5) NOT NULL,
        	`nickname` varchar(20) NOT NULL,
        	`email` varchar(50) NOT NULL,
        	PRIMARY KEY (`id_user`),
        	KEY `id_arena` (`id_arena`),
        	UNIQUE KEY `code` (`code`,`id_arena`),
        	CONSTRAINT `players_ibfk_1` FOREIGN KEY (`id_user`) REFERENCES `users` (`id_user`) ON DELETE CASCADE ON UPDATE CASCADE,
        	CONSTRAINT `players_ibfk_2` FOREIGN KEY (`id_arena`) REFERENCES `arenas` (`id_arena`) ON DELETE CASCADE ON UPDATE CASCADE
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
		'''
		modifications:
			0.2:
				- 'ADD `email` VARCHAR(50) NOT NULL AFTER `nickname`'
			0.2.1:
				- 'ADD UNIQUE INDEX (`code`,`id_arena`)'
	App\Models\MusicMode:
		definition: '''
        		(
        			`id_music` int(11) unsigned NOT NULL,
        			`id_arena` int(11) unsigned NOT NULL,
        			`name` varchar(20) NOT NULL,
        			`order` int(10) unsigned NOT NULL DEFAULT 0,
        			PRIMARY KEY (`id_music`, `id_arena`),
        			FOREIGN KEY (`id_arena`) REFERENCES `arenas` (`id_arena`) ON DELETE CASCADE ON UPDATE CASCADE
        		) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
        	'''
	App\GameModels\Game\GameModes\AbstractMode:
		definition: '''
		(
        	`id_mode` int(11) unsigned NOT NULL AUTO_INCREMENT,
        	`system` varchar(10) DEFAULT NULL,
        	`name` varchar(50) DEFAULT NULL,
        	`description` text DEFAULT NULL,
        	`load_name` varchar(50) DEFAULT NULL,
        	`type` enum('TEAM','SOLO') NOT NULL DEFAULT 'TEAM',
        	`teams` text NOT NULL,
        	`public` tinyint(1) NOT NULL DEFAULT 0,
        	`mines` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Jestli automaticky detekovat miny nebo vůbec',
        	`part_win` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Jestli má být vložena část s tím kdo vyhrál.',
        	`part_teams` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Jestli se na výsledcích zobrazuje tabulka teamů',
        	`part_players` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Jestli se na výsledcích zobrazuje tabulka hráčů',
        	`part_hits` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Jestli se na výsledcích zobrazuje tabulka zabití',
        	`part_best` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Jestli se na výsledcích zobrazuje tabulka \"Ti nej\"',
        	`part_best_day` tinyint(1) NOT NULL DEFAULT 1,
        	`player_score` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Jestli se ve výsledcích hráče zobrazí skóre.',
        	`player_shots` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Jestli se ve výsledcích hráče zobrazí výstřely.',
        	`player_miss` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Jestli se ve výsledcích hráče zobrazí výstřely mimo.',
        	`player_accuracy` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Jestli se ve výsledcích hráče zobrazí přesnost',
        	`player_mines` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Jestli se ve výsledcích hráče zobrazí miny.',
        	`player_players` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Jestli se ve výsledcích hráče zobrazí Zásahy hráčů.',
        	`player_players_teams` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Jestli se ve výsledcích hráče zobrazí zabití na vlastní a protihráče.',
        	`player_kd` tinyint(1) NOT NULL DEFAULT 1,
        	`player_favourites` tinyint(1) NOT NULL DEFAULT 1,
        	`player_lives` tinyint(1) NOT NULL DEFAULT 0,
        	`team_score` tinyint(1) NOT NULL DEFAULT 1,
        	`team_accuracy` tinyint(1) NOT NULL DEFAULT 1,
        	`team_shots` tinyint(1) NOT NULL DEFAULT 1,
        	`team_hits` tinyint(1) NOT NULL DEFAULT 1,
        	`team_zakladny` tinyint(1) NOT NULL DEFAULT 0,
        	`best_score` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Jestli zobrazovat v tabulce \"Ti nej\" hodnotu',
        	`best_hits` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Jestli zobrazovat v tabulce \"Ti nej\" hodnotu',
        	`best_deaths` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Jestli zobrazovat v tabulce \"Ti nej\" hodnotu',
        	`best_accuracy` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Jestli zobrazovat v tabulce \"Ti nej\" hodnotu',
        	`best_hits_own` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Jestli zobrazovat v tabulce \"Ti nej\" hodnotu',
        	`best_deaths_own` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Jestli zobrazovat v tabulce \"Ti nej\" hodnotu',
        	`best_shots` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Jestli zobrazovat v tabulce \"Ti nej\" hodnotu',
        	`best_miss` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Jestli zobrazovat v tabulce \"Ti nej\" hodnotu',
        	`best_mines` tinyint(1) NOT NULL DEFAULT 1 COMMENT 'Jestli zobrazovat v tabulce \"Ti nej\" hodnotu',
        	PRIMARY KEY (`id_mode`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COMMENT='Seznam a nastavení módů.';
		'''
		modifications:
			0.1:
				- 'ADD `teams` text NOT NULL AFTER `type`'
	game_modes-names:
		definition: '''
		(
			`id_mode` int(11) unsigned NOT NULL,
			`sysName` varchar(20) NOT NULL,
			PRIMARY KEY (`sysName`,`id_mode`),
			KEY `Mode` (`id_mode`),
			CONSTRAINT `game_modes-names_ibfk_1` FOREIGN KEY (`id_mode`) REFERENCES `game_modes` (`id_mode`) ON DELETE CASCADE ON UPDATE CASCADE
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
		'''
	App\Models\Tournament\League:
		definition: '''
		(
          `id_league` int(11) unsigned NOT NULL AUTO_INCREMENT,
          `id_arena` int(11) unsigned NOT NULL,
          `name` varchar(100) NOT NULL,
          `description` text,
          `image` varchar(200) DEFAULT NULL,
          PRIMARY KEY (`id_league`),
          KEY `id_arena` (`id_arena`),
          CONSTRAINT `leagues_ibfk_1` FOREIGN KEY (`id_arena`) REFERENCES `arenas` (`id_arena`) ON DELETE CASCADE ON UPDATE CASCADE
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
		'''
	App\Models\Tournament\Tournament:
		definition: '''
		(
          `id_tournament` int(11) unsigned NOT NULL AUTO_INCREMENT,
          `id_arena` int(11) unsigned NOT NULL,
          `id_league` int(11) unsigned DEFAULT NULL,
          `name` varchar(100) NOT NULL,
          `description` text,
          `prices` text,
          `image` varchar(200) DEFAULT NULL,
          `results_summary` longtext,
          `format` enum('TEAM','SOLO') NOT NULL DEFAULT 'TEAM',
          `start` datetime NOT NULL,
          `end` datetime DEFAULT NULL,
          `team_size` int(10) unsigned NOT NULL DEFAULT '1',
          `sub_count` int(10) unsigned NOT NULL DEFAULT '0',
          `player_name` enum('required','captain','optional','hidden') NOT NULL DEFAULT 'required',
          `player_surname` enum('required','captain','optional','hidden') NOT NULL DEFAULT 'required',
          `player_email` enum('required','captain','optional','hidden') NOT NULL DEFAULT 'captain',
          `player_phone` enum('required','captain','optional','hidden') NOT NULL DEFAULT 'captain',
          `player_birth_year` enum('required','captain','optional','hidden') NOT NULL DEFAULT 'hidden',
          `player_skill` enum('required','captain','optional','hidden') NOT NULL DEFAULT 'required',
          `active` tinyint(1) NOT NULL DEFAULT '1',
          `registrations_active` tinyint(1) NOT NULL DEFAULT '1',
          `team_limit` int(10) unsigned DEFAULT NULL,
          PRIMARY KEY (`id_tournament`),
          KEY `id_arena` (`id_arena`),
          KEY `id_league` (`id_league`),
          CONSTRAINT `tournaments_ibfk_1` FOREIGN KEY (`id_arena`) REFERENCES `arenas` (`id_arena`) ON DELETE CASCADE ON UPDATE CASCADE,
          CONSTRAINT `tournaments_ibfk_2` FOREIGN KEY (`id_league`) REFERENCES `leagues` (`id_league`) ON DELETE SET NULL ON UPDATE CASCADE
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
        '''
	App\Models\Tournament\Group:
		definition: '''
		(
          `id_group` int(11) unsigned NOT NULL AUTO_INCREMENT,
          `id_tournament` int(11) unsigned NOT NULL,
          `name` varchar(100) NOT NULL,
          PRIMARY KEY (`id_group`),
          KEY `id_tournament` (`id_tournament`),
          CONSTRAINT `tournament_groups_ibfk_1` FOREIGN KEY (`id_tournament`) REFERENCES `tournaments` (`id_tournament`) ON DELETE CASCADE ON UPDATE CASCADE
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
		'''
	App\Models\Tournament\Team:
		definition: '''
		(
          `id_team` int(11) unsigned NOT NULL AUTO_INCREMENT,
          `id_tournament` int(11) unsigned NOT NULL,
          `name` varchar(100) NOT NULL,
          `hash` varchar(200) NOT NULL,
          `image` varchar(200) DEFAULT NULL,
          `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
          `updated_at` datetime DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
          PRIMARY KEY (`id_team`),
          KEY `id_tournament` (`id_tournament`),
          CONSTRAINT `tournament_teams_ibfk_1` FOREIGN KEY (`id_tournament`) REFERENCES `tournaments` (`id_tournament`) ON DELETE CASCADE ON UPDATE CASCADE
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
		'''
	App\Models\Tournament\Player:
		definition: '''
		(
          `id_player` int(11) unsigned NOT NULL AUTO_INCREMENT,
          `id_tournament` int(11) unsigned NOT NULL,
          `id_team` int(11) unsigned DEFAULT NULL,
          `id_user` int(11) unsigned DEFAULT NULL,
          `nickname` varchar(50) DEFAULT NULL,
          `image` varchar(200) DEFAULT NULL,
          `captain` tinyint(1) NOT NULL DEFAULT '0',
          `sub` tinyint(1) NOT NULL DEFAULT '0',
          `email` varchar(50) DEFAULT NULL,
          `phone` varchar(20) DEFAULT NULL,
          `name` varchar(50) DEFAULT NULL,
          `surname` varchar(50) DEFAULT NULL,
          `skill` enum('BEGINNER','SOMEWHAT_ADVANCED','ADVANCED','PRO') NOT NULL DEFAULT 'BEGINNER',
          `birth_year` tinyint(4) DEFAULT NULL,
          `hash` varchar(200) NOT NULL,
          `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
          `updated_at` datetime DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP,
          PRIMARY KEY (`id_player`),
          KEY `id_tournament` (`id_tournament`),
          KEY `id_team` (`id_team`),
          KEY `id_user` (`id_user`),
          CONSTRAINT `tournament_players_ibfk_1` FOREIGN KEY (`id_tournament`) REFERENCES `tournaments` (`id_tournament`) ON DELETE CASCADE ON UPDATE CASCADE,
          CONSTRAINT `tournament_players_ibfk_2` FOREIGN KEY (`id_team`) REFERENCES `tournament_teams` (`id_team`) ON DELETE CASCADE ON UPDATE CASCADE,
          CONSTRAINT `tournament_players_ibfk_3` FOREIGN KEY (`id_user`) REFERENCES `users` (`id_user`) ON DELETE SET NULL ON UPDATE CASCADE
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
        '''
	App\Models\Tournament\Game:
		definition: '''
		(
          `id_game` int(11) unsigned NOT NULL AUTO_INCREMENT,
          `id_tournament` int(11) unsigned NOT NULL,
          `id_group` int(11) unsigned DEFAULT NULL,
          `code` varchar(50) DEFAULT NULL COMMENT 'Connection to results',
          `start` datetime DEFAULT NULL,
          PRIMARY KEY (`id_game`),
          KEY `id_tournament` (`id_tournament`),
          KEY `id_group` (`id_group`),
          CONSTRAINT `tournament_games_ibfk_1` FOREIGN KEY (`id_tournament`) REFERENCES `tournaments` (`id_tournament`) ON DELETE CASCADE ON UPDATE CASCADE,
          CONSTRAINT `tournament_games_ibfk_2` FOREIGN KEY (`id_group`) REFERENCES `tournament_groups` (`id_group`) ON DELETE SET NULL ON UPDATE CASCADE
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
		'''
	tournament_game_teams:
		definition: '''
		(
          `id_game` int(11) unsigned NOT NULL,
          `key` int(10) unsigned NOT NULL DEFAULT '0',
          `id_team` int(11) unsigned DEFAULT NULL,
          `position` int(10) unsigned DEFAULT NULL,
          `score` int(11) DEFAULT NULL,
          `points` int(11) DEFAULT NULL,
          PRIMARY KEY (`id_game`,`key`),
          KEY `id_team` (`id_team`),
          KEY `id_game` (`id_game`),
          CONSTRAINT `tournament_game_teams_ibfk_1` FOREIGN KEY (`id_game`) REFERENCES `tournament_games` (`id_game`) ON DELETE CASCADE ON UPDATE CASCADE,
          CONSTRAINT `tournament_game_teams_ibfk_2` FOREIGN KEY (`id_team`) REFERENCES `tournament_teams` (`id_team`) ON DELETE CASCADE ON UPDATE CASCADE
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
		'''
	tournament_game_players:
		definition: '''
		(
          `id_game` int(11) unsigned NOT NULL,
          `key` int(10) unsigned NOT NULL DEFAULT '0',
          `id_player` int(11) unsigned NOT NULL,
          `position` int(10) unsigned DEFAULT NULL,
          `score` int(11) DEFAULT NULL,
          `points` int(11) DEFAULT NULL,
          PRIMARY KEY (`id_game`,`key`),
          KEY `id_player` (`id_player`),
          KEY `id_game` (`id_game`),
          CONSTRAINT `tournament_game_players_ibfk_1` FOREIGN KEY (`id_game`) REFERENCES `tournament_games` (`id_game`) ON DELETE CASCADE ON UPDATE CASCADE,
          CONSTRAINT `tournament_game_players_ibfk_2` FOREIGN KEY (`id_player`) REFERENCES `tournament_players` (`id_player`) ON DELETE CASCADE ON UPDATE CASCADE
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
		'''