includes:
	- console.neon
	- local.neon
	- symfony.neon
	- cqrs.neon
	- jobs.neon
	- s3.neon
	- dropbox.neon
parameters:
	db:
		driver: mysqli
		lazy: true
		port: 3306
		charset: utf8mb4
	auth:
		userClass: 'App\Models\Auth\User'
	templating:
		tmpPath: '%constants.tempDir%latte'
	matomo:
		siteId: 1
		url: 'https://analytics.laserliga.cz'
		token: ''
	commonmark:
		html_input: 'strip'
		allow_unsafe_links: false
extensions:
	cache: Lsr\Caching\DI\CacheExtension
	decorator: Nette\DI\Extensions\DecoratorExtension
	inject: Nette\DI\Extensions\InjectExtension
	routing: Lsr\Core\Routing\DI\RoutingExtension
	di: Nette\DI\Extensions\DIExtension
	search: Nette\DI\Extensions\SearchExtension(%constants.tempDir%)
	lsr: Lsr\Core\DI\LsrExtension
di:
	lazy: true
lsr:
	appDir: %constants.appDir%
	tempDir: %constants.tempDir%
	latte:
		tempDir: %constants.tempDir%latte/
	translations:
		defaultLang: cs_CZ
		supportedLanguages:
			- 'cs_CZ'
			- 'en_US'
			- 'de_DE'
			- 'fr_FR'
			- 'sk_SK'
			- 'uk_UA'
		domains:
			- 'results'
			- 'highlights'
			- 'tournament'
			- 'privacy'
			- 'music'
			- 'titles'
			- 'achievements'
			- 'gameModes'
	links:
		modifiers:
			- @lang.prefixer
services:
	# Core
	lang.prefixer: Lsr\Core\Links\LanguagePrefixer
	db.connection: Lsr\Db\Connection(config: %db%)

	lsr.session:
		create: App\Core\RedisSession(@redis)
		setup:
			- init()

	- App\Services\Maths\RegressionCalculator
	- App\Services\PushService

	redis:
		create: \Redis
		setup:
			- connect(%redis.host%)

	turnstile: App\Services\Turnstile(secret: %turnstile.secret%, key: %turnstile.key%, enabled: %turnstile.enabled%)

	regression.evo5: App\GameModels\Tools\Lasermaxx\RegressionStatCalculator

	cache.journal: Lsr\Caching\Redis\RedisJournal(@redis)
	cache.storage: Lsr\Caching\Redis\RedisStorage(@redis, '', @cache.journal)

	avatars: App\Services\Avatar\AvatarService

	user: App\Models\Auth\User
	rankCalculator: App\Services\Player\RankCalculator

	userRegistration: App\Services\UserRegistrationService
	playerUser: App\Services\Player\PlayerUserService
	playerRankOrder: App\Services\Player\PlayerRankOrderService
	playerDistribution: App\Services\PlayerDistribution\PlayerDistributionService
	playerGamesTogether: App\Services\Player\PlayersGamesTogetherService
	playerStatsProvider: App\Services\Player\PlayerStatsProvider
	playersProvider: App\Services\Player\PlayerProvider

	mailer: Nette\Mail\SendmailMailer
	mail: App\Services\MailService

	image: App\Services\ImageService

	evo5HighlightChecker:
		type: App\Services\GameHighlight\Checkers\Evo5HighlightChecker
		tags:
			- highlightChecker
	userHighlightChecker:
		type: App\Services\GameHighlight\Checkers\UserHighlightChecker
		tags:
			- highlightChecker
	hitsHighlightChecker:
		type: App\Services\GameHighlight\Checkers\HitsHighlightChecker
		tags:
			- highlightChecker
	deathsHighlightChecker:
		type: App\Services\GameHighlight\Checkers\DeathsHighlightChecker
		tags:
			- highlightChecker
	trophyHighlightChecker:
		type: App\Services\GameHighlight\Checkers\TrophyHighlightChecker
		tags:
			- highlightChecker

	gameHighlight: App\Services\GameHighlight\GameHighlightService(tagged(highlightChecker))
	achievementChecker: App\Services\Achievements\AchievementChecker
	achievementProvider: App\Services\Achievements\AchievementProvider
	playerAchievementChecker: App\Services\Achievements\PlayerAchievementChecker
	titleProvider: App\Services\Achievements\TitleProvider
	eventRegistration: App\Services\EventRegistrationService
	arenaStats: App\Services\ArenaStatsAggregator
	gameModeProvider: App\Services\GameModeProvider

	result.parser: Lsr\Lg\Results\ResultsParser(['evo5' => @result.parser.evo5, 'evo6' => @result.parser.evo6])
	results.generator: Lsr\Lg\Results\ResultsGenerator(['evo5' => @result.generator.evo5, 'evo6' => @result.generator.evo6])
	results.logger: Lsr\Logging\Logger(%logger.dir%, 'results')
	result.parser.evo5: App\Tools\ResultParsing\Evo5\ResultsParser(gameClass: App\GameModels\Game\Evo5\Game, logger: @results.logger)
	result.parser.evo6: App\Tools\ResultParsing\Evo6\ResultsParser(gameClass: App\GameModels\Game\Evo6\Game, logger: @results.logger)
	result.generator.evo5: Lsr\Lg\Results\LaserMaxx\Evo5\ResultsGenerator
	result.generator.evo6: Lsr\Lg\Results\LaserMaxx\Evo6\ResultsGenerator

	thumbnails: App\Services\Thumbnails\ThumbnailGenerator
	fontawesome: App\Services\FontAwesomeManager

	templating.latte.lac:
		create: App\Latte\LacExtension
		tags:
			- templating
	templating.latte.engine:
		setup:
			- addExtension(@templating.latte.lac)
	requestValidationMapper: Lsr\Core\Requests\Validation\RequestValidationMapper

	matomo:
		create: \MatomoTracker(%matomo.siteId%, %matomo.url%)
		setup:
			- setTokenAuth(%matomo.token%)

	commonmark.extension.core: League\CommonMark\Extension\CommonMark\CommonMarkCoreExtension
	commonmark.extension.noRawHtml: League\CommonMark\Extension\DisallowedRawHtml\DisallowedRawHtmlExtension
	commonmark.extension.punctuation: League\CommonMark\Extension\SmartPunct\SmartPunctExtension
	commonmark.extension.tables: League\CommonMark\Extension\Table\TableExtension
	commonmark.extension.emoji: ElGigi\CommonMarkEmoji\EmojiExtension

	commonmark.environment:
		create: League\CommonMark\Environment\Environment(%commonmark%)
		setup:
			- addExtension(@commonmark.extension.core)
			- addExtension(@commonmark.extension.noRawHtml)
			- addExtension(@commonmark.extension.punctuation)
			- addExtension(@commonmark.extension.tables)
			- addExtension(@commonmark.extension.emoji)
	commonmark: League\CommonMark\MarkdownConverter(@commonmark.environment)

search:
	controllers:
		in: '%constants.appDir%src/Controllers'
		extends:
			- Lsr\Core\Controllers\Controller
			- Lsr\Core\Controllers\ApiController
		tags:
			- controllers
	achievementCheckers:
		in: %constants.appDir%/src/Services/Achievements/Checkers
		implements:
			- App\Services\Achievements\CheckerInterface
		tags:
			- achievementChecker

decorator:
	Lsr\Core\Controllers\Controller:
		inject: true

cache:
	cacheDir: %constants.tempDir%

routing:
	routeFiles:
		- %constants.appDir%routes
	controllers:
		- %constants.appDir%src/Controllers