includes:
	- services-common.neon
parameters:
	mail:
		host: 'mx.hotnet.cz'
		username: 'app@laserliga.cz'
		password: 'z#LWJrF7g5y'
		encryption: 'tsl'
services:
	mailer: Nette\Mail\SmtpMailer(
		host: %mail.host%,
		username: %mail.username%,
		password: %mail.password%,
		encryption: %mail.encryption%
	)