.photos-wrapper {
	.select-photo {
		.photo-select {
			display: none;

			&:checked + label {
				background-color: var(--bs-green);
			}
		}

		label {
			cursor: pointer;
		}
	}
}

img {
	aspect-ratio: 1;
	width: 150px;
	object-fit: cover;
	cursor: pointer;
}