.game-group {

	path, circle, rect {
		fill: currentColor;
	}

	.arena-logo {
		height: 100%;
		max-height: 10rem;
		width: 100%;
	}

	.player-head {
		align-items: center;
		border-radius: 10px;
		cursor: pointer;
		display: flex;
		margin: .1rem 0;
		width: 100%;

		> div {
			flex: 1;
		}

		svg {
			display: inline-block;
			margin: 0 auto;
			position: relative;
		}

		.position {
			max-width: 1.5rem;
		}

		.player-rank {
			height: 1rem;
			line-height: 1em;

			.rank-name {
				display: inline-block;
				font-size: .6em;
			}
		}

		.player-name {

			.name {
				font-size: calc(var(--font-size) * 1.3);
				font-weight: bold;
				text-transform: uppercase;
			}
		}

		.score {
			max-width: 7rem;
			text-align: right;
		}
	}

	.player-body {
		table {
			th {
				width: 4rem;
			}

			tr td:nth-of-type(1) {
				font-weight: bold;
				width: 13rem;
			}
		}
	}

	svg.accuracy {
		--color: rgb(72, 196, 255);
		display: block;
		grid-area: accuracy;
		margin: 0 auto;
		max-width: 9rem;
		position: relative;

		* {
			font-size: 64pt;
		}

		path,
		rect,
		text {
			fill: var(--color);
		}

		.fill-circle {
			fill: transparent;
			opacity: .4;
			stroke: var(--color);
			transform: rotate(-90deg);
			transform-origin: center;
		}
	}

}