@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/variables-dark';
@import '../variables/customVariables';
@import '~bootstrap/scss/maps';
@import '../mixins';
@import "../components/titles";
@import "../components/mobile-leaderboard";

#user-leaderboard-table {
  .player-avatar {
    background-color: var(--background-2);
    border-radius: 50%;
    padding: .5rem;
  }

	.arena-logo {
		display: inline-block;
		height: 3rem;
    width: auto;
  }
}
