@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/variables-dark';
@import '../variables/customVariables';
@import '~bootstrap/scss/maps';
@import '../mixins';

.player-profile {
	display: grid;
	grid-gap: 4rem 1rem;
	grid-template-areas: 'arena header' 'games stats';
	grid-template-columns: 1fr 2fr;


	@include media-breakpoint-down(lg) {
		grid-template-columns: 1fr 1fr;
	}

	@include media-breakpoint-down(md) {
		grid-template-areas: 'header' 'arena' 'stats' 'games';
		grid-template-columns: 100%;
	}

	header {
		align-self: center;
		grid-area: header;
	}

	.home-arena {
		align-self: center;
		grid-area: arena;
	}

	.last-games {
		grid-area: games;

		table {
			td {
				vertical-align: middle;
			}
		}

		.arena-logo {
			max-height: 3rem;
			width: auto;
		}
	}

	.stats {
		grid-area: stats;

		path, circle, rect {
			fill: currentColor;
		}
	}

	.trend {
		max-width: 100%;
		width: 200px;

		&.stable {
			.stable {
				display: flex;
			}

			.rising {
				display: none;
			}

			.falling {
				display: none;
			}
		}

		&.rising {
			.stable {
				display: none;
			}

			.rising {
				display: flex;
			}

			.falling {
				display: none;
			}
		}

		&.falling {
			.stable {
				display: none;
			}

			.rising {
				display: none;
			}

			.falling {
				display: flex;
			}
		}

		.trend-icon {

			.trend-icon-inner {
				align-items: center;
				border-radius: 50%;
				font-size: 2.5rem;
				height: 3rem;
				justify-content: center;
				width: 3rem;

				&.falling {
					padding-top: .6rem;
				}
			}
		}

		.trend-description {
			flex: 1;

			.trend-value {
				font-size: 2rem;
				font-weight: bold;
				text-align: center;
			}
		}
	}
}