@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/variables-dark';
@import '../variables/customVariables';
@import '~bootstrap/scss/maps';
@import '../mixins';

@import '../components/achievements';
@import '../components/titles';

.player-profile {
	display: grid;
  grid-gap: 2rem 1rem;
  grid-template-areas: 'header games' 'stats stats';
  grid-template-columns: 3fr 2fr;


	@include media-breakpoint-down(lg) {
		grid-template-columns: 1fr 1fr;
	}

	@include media-breakpoint-down(md) {
    grid-template-areas: 'header' 'stats' 'games';
		grid-template-columns: 100%;
	}

  .player-avatar {
    height: 16rem;
    margin: 0 auto;
    position: relative;
    display: block;
    border-radius: 50%;
    padding: 2rem;
    background-color: var(--background-2);
  }

	header {
		grid-area: header;
    text-align: center;

    h1 {
      font-weight: 800;
      font-size: 4rem;
      color: var(--bs-primary);
    }

    h2 {
      font-size: 2.5rem;
      font-weight: 700;
    }

    .stats {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      grid-gap: 1rem;

      .stat {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }

    .arena-logo {
      max-height: 6rem;
    }
	}

	.last-games {
		grid-area: games;

    .games-list {
      display: flex;
      flex-direction: column;

      .game-row {
        display: grid;
        grid-template-columns: 1fr 3rem 1fr auto;
        grid-gap: .5rem;
        margin: .5rem 0;
        padding: .5rem 1rem;
        background-color: var(--background-1);
        text-decoration: none;
        color: var(--text);
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .skill {
          text-align: right;
        }

        &:nth-child(even) {
          background-color: var(--background-2);
        }

        &:hover {
          filter: brightness(1.2);
        }
      }
    }

		.arena-logo {
			max-height: 3rem;
			width: auto;
		}
	}

  > .stats {
		grid-area: stats;

    a {
      color: var(--text);
    }

		path, circle, rect {
			fill: currentColor;
		}
	}

	.trend {
		max-width: 100%;
		width: 200px;

		&.stable {
			.stable {
				display: flex;
			}

			.rising {
				display: none;
			}

			.falling {
				display: none;
			}
		}

		&.rising {
			.stable {
				display: none;
			}

			.rising {
				display: flex;
			}

			.falling {
				display: none;
			}
		}

		&.falling {
			.stable {
				display: none;
			}

			.rising {
				display: none;
			}

			.falling {
				display: flex;
			}
		}

		.trend-icon {

			.trend-icon-inner {
				align-items: center;
				border-radius: 50%;
				font-size: 2.5rem;
				height: 3rem;
				justify-content: center;
				width: 3rem;

				&.falling {
					padding-top: .6rem;
				}
			}
		}

		.trend-description {
			flex: 1;

			.trend-value {
				font-size: 2rem;
				font-weight: bold;
				text-align: center;
			}
		}
	}
}