@import '../components/titles';

.titles-select {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;

  input:checked + label {
    opacity: 1;
    outline: 2px solid var(--bs-success);
    outline-offset: .2rem;
  }

  .player-title {
    cursor: pointer;
    opacity: .4;

    &:hover {
      opacity: 1;
    }
  }
}

.avatar-types {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 1rem;

	label {
		cursor: pointer;
		outline-offset: .2rem;
		padding: .5rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: .2rem;

		&:hover {
			outline: 2px solid var(--bs-success-text-emphasis);
		}
	}

	input {
		display: none;

		&:checked + label,
		&:checked + label:hover {
			outline: 2px solid var(--bs-success);
		}
	}

	img {
		display: block;
		margin: 0 auto;
		width: 8rem;
		height: 8rem;
	}

}