@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/variables-dark';
@import '../variables/customVariables';
@import '~bootstrap/scss/maps';
@import '../mixins';
@import '../components/achievements';
@import '../components/titles';

%results-teams-column {
  flex-direction: column;
  max-height: 100%;

  .team-score {
    height: var(--size);
    width: 100%;
  }
}

.game-results {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
		'head'
		'win'
		'teams'
		'players'
		'hits';
  grid-template-columns: 1fr;
  transition: all 300ms ease;
  transition-delay: 300ms;

  @import '../components/results/hits';
  @import '../components/results/accuracy';
  @import '../components/results/shots';

  .results-player {
    transition: all 300ms ease;
  }

  &.teams-active {
    transition-delay: 0ms;

    .collapse-indicator {
      display: none;
    }

    .results-teams {
      flex-direction: column !important;
      max-height: 100%;

      .team-score {
        --size: auto !important;
        transition-delay: 0ms;

        .team-stats {
          max-height: 100% !important;
          padding: 1rem;
          transition-delay: 300ms;
        }
      }
    }
  }

  &.solo {
    grid-template-areas:
		 'head'
		 'win'
		 'players'
		 'hits';
  }

  svg:not(.player-avatar) {
    path, circle, rect {
      fill: currentColor;
    }
  }

  .results-win {
    grid-area: win;
  }

  .results-header {
    grid-area: head;
  }

  .game-head {
    display: grid;
    grid-gap: 1rem;
    grid-template-areas: 'info' 'scoring' 'legend' 'highlights';
    grid-template-columns: 1fr;

    .game-info {
      grid-area: info;
    }

    .scoring {
      grid-area: scoring;
    }

    .icon-legend {
      grid-area: legend;
    }
  }

  .results-highlights {
    grid-area: highlights;

    .highlight {
      padding: 1rem;
      text-align: center;
      margin: 0 1rem;
      //border-radius: 10px;
      //box-shadow: 0 0 10px var(--primary);
      border-bottom: 1px solid var(--background-2);
    }
  }

  .results-players {
    grid-area: players;

    .player-head {
      align-items: center;
      border-radius: 10px;
      cursor: pointer;
      display: flex;
      margin: .1rem 0;
      width: 100%;

      svg {
        display: inline-block;
        margin: 0 auto;
        position: relative;
      }

      .position {
        max-width: 1.5rem;
        padding-right: .5rem;
      }

      .player-rank {
        height: 1rem;
        line-height: 1em;

        .rank-name {
          display: inline-block;
          font-size: .6em;
        }
      }

      .player-name {
        flex: 1;
        min-width: 10rem;

        .name {
          font-size: calc(var(--font-size) * 1.3);
          font-weight: bold;
          text-transform: uppercase;
        }
      }

      .score {
        max-width: 5rem;
        text-align: right;
      }

      .player-avatar {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
        margin: 0 .5rem;
        background-color: var(--background-2);
      }

      .collapse-indicator {
        width: 1.5rem;
      }
    }

    .player-score-detail {
      grid-area: score;
    }

    .player-actions {
      grid-area: actions;
    }

    .player_mines {
      grid-area: mines;

      svg {
        display: block;
        margin: 0 auto;
        position: relative;
      }

      .bonus {
        display: flex;
        width: 100%;

        div {
          flex: 1;
          padding: .2rem;
          text-align: center;
        }
      }
    }

    .player-hits {
      grid-area: hits;
    }

    svg.accuracy {
      grid-area: accuracy;
    }

    .player-shots {
      grid-area: shots;
    }

    .player-favourites {
      grid-area: favourites;
    }

    .player-hits-player {
      grid-area: hitsPlayers;
    }

    .player-today {
      grid-area: today;
      text-align: center;

      .categories {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
      }

      .today-category {
        cursor: pointer;
        min-width: 7em;
        padding: .2rem;
      }

      .label {
        font-weight: bold;
      }
    }
  }

  .results-teams {
    display: flex;
    flex-direction: row;
    grid-area: teams;
    max-height: 8rem;
    width: 100%;

    .team-score {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      min-height: 5rem;
      min-width: 5rem;
      width: var(--size);
      transition: all 300ms ease;
      transition-delay: 300ms;

      .name {
        text-align: center;
      }

      .team-stats {
        max-height: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: var(--white);
        color: var(--black);
        transition: max-height 300ms ease;
        transition-delay: 0ms;
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr;
        grid-template-areas: 'accuracy' 'shots' 'hits' 'hitsTeams';
      }
    }

    .team-hits {
      grid-area: hits;
    }

    .team-hits-team {
      grid-area: hitsTeams;
    }

    .team-shots {
      grid-area: shots;
    }

    .accuracy {
      grid-area: accuracy;
    }

    &[data-teams="4"], &[data-teams="5"], &[data-teams="6"] {
      @extend %results-teams-column;
    }
  }

  .results-hits {
    grid-area: hits;
  }

  .player-body {
    align-items: center;
    grid-row-gap: 1.5rem;
    grid-template-areas:
		  'actions'
			'trophy'
			'accuracy'
			'shots'
			'favourites'
			'hits'
			'hitsPlayers'
			'mines'
			'score'
		  'today';
    grid-template-columns: 1fr;

    &.show, &.collapsing {
      display: grid;
    }
  }

  .player-trophies {
    grid-area: trophy;

    .trophies {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }

    .trophy {
      text-align: center;
    }
  }

  @import '../components/results/accuracy';
}

@include media-breakpoint-up(sm) {
  .game-results {
    .player-body {
      grid-template-areas:
					'actions actions'
					'trophy trophy'
					'accuracy shots'
					'hits hits'
					'favourites favourites'
					'hitsPlayers hitsPlayers'
					'mines mines'
					'score score'
					'today today';
      grid-template-columns: 1fr 1fr;
    }

    .game-head {
      grid-template-areas: 'info scoring' 'info scoring' 'legend legend' 'highlights highlights';
      grid-template-columns: 1fr 1fr;
    }

    .results-teams .team-score .team-stats {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 'accuracy shots' 'hits hits' 'hitsTeams hitsTeams';
    }
  }
}

@include media-breakpoint-up(md) {
  .game-results {
    grid-template-areas:
		'head head'
		'win win'
		'players teams'
		'hits hits';
    grid-template-columns: 1fr 7rem;

    &.teams-active {
      grid-template-columns: 20rem 1fr;
    }

    &.solo {
      grid-template-areas:
		 'head head'
		 'win win'
		 'players players'
		 'hits hits';
    }

    .results-teams {
      flex-direction: column;
      max-height: 100%;

      .team-score {
        height: var(--size);
        width: 100%;
      }
    }

    .player-body {
      grid-template-areas:
					'actions actions actions'
					'trophy trophy trophy'
					'accuracy mines shots'
					'favourites hits hits'
					'score score score'
					'today today today';
      grid-template-columns: 1fr 1fr 1fr;
    }

    .game-head {
      grid-template-areas: 'info scoring' 'info legend' 'highlights highlights';
      grid-template-columns: 1fr 2fr;
    }
  }
}