@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/variables-dark';
@import '../variables/customVariables';
@import '~bootstrap/scss/maps';
@import '../mixins';

.game-results {
	display: grid;
	grid-gap: 1rem;
	grid-template-areas:
		'head'
		'win'
		'teams'
		'players'
		'hits';
	grid-template-columns: 1fr;

	&.solo {
		grid-template-areas:
		 'head'
		 'win'
		 'players'
		 'hits';
	}

	path, circle, rect {
		fill: currentColor;
	}

	.results-win {
		grid-area: win;
	}

	.results-header {
		grid-area: head;
	}

	.game-head {
		display: grid;
		grid-gap: 1rem;
		grid-template-areas: 'info' 'scoring' 'legend';
		grid-template-columns: 1fr;

		.game-info {
			grid-area: info;
		}

		.scoring {
			grid-area: scoring;
		}

		.icon-legend {
			grid-area: legend;
		}
	}

	.results-players {
		grid-area: players;

		.player-head {
			align-items: center;
			border-radius: 10px;
			cursor: pointer;
			display: flex;
			margin: .1rem 0;
			width: 100%;

			> div {
				flex: 1;
			}

			svg {
				display: inline-block;
				margin: 0 auto;
				position: relative;
			}

			.position {
				max-width: 1.5rem;
			}

			.player-rank {
				height: 1rem;
				line-height: 1em;

				.rank-name {
					display: inline-block;
					font-size: .6em;
				}
			}

			.player-name {

				.name {
					font-size: calc(var(--font-size) * 1.3);
					font-weight: bold;
					text-transform: uppercase;
				}
			}

			.score {
				max-width: 5rem;
				text-align: right;
			}
		}

		.player-score-detail {
			grid-area: score;
		}

		.player_mines {
			grid-area: mines;

			svg {
				display: block;
				margin: 0 auto;
				position: relative;
			}

			.bonus {
				display: flex;
				width: 100%;

				div {
					flex: 1;
					padding: .2rem;
					text-align: center;
				}
			}
		}

		.player-hits {
			grid-area: hits;
		}

		.hits {
			display: flex;
			flex-direction: column;
			height: 6rem;
			position: relative;
			text-align: center;
			width: 100%;

			.label {
				height: 100%;
				line-height: 3rem;
				width: 4rem;
			}

			.kills-row, .deaths-row {
				align-items: center;
				display: flex;
				justify-content: flex-start;
				width: 100%;

				.graph {
					align-items: center;
					background-color: #eee;
					display: flex;
					flex: 1;
					justify-content: flex-start;
				}
			}

			.kills {
				background-color: #55EA6A;
			}

			.kills-own {
				background-color: #49cc5b;
			}

			.deaths {
				background-color: #EA5555;
			}

			.deaths-own {
				background-color: #cc4949;
			}

			.kills,
			.deaths,
			.kills-own,
			.deaths-own {
				display: flex;
				height: 3rem;
				min-width: 2rem;
				padding: .2rem 0;

				.main {
					align-items: center;
					display: flex;
					flex: 1;
					flex-direction: column;
					height: 100%;
					justify-content: center;
					padding: 0 .3rem;
				}

				.side {
					display: flex;
					flex-direction: column;
					height: 100%;
					max-width: 20%;

					.other {
						background-color: rgba(255, 255, 255, .5);
					}

					.own {
						background-color: rgba(105, 0, 0, 0.6);
						color: #fff;
					}

					.own,
					.other {
						align-items: center;
						display: flex;
						justify-content: center;
						min-height: 1.5em;
						padding: 0 .2rem;
					}
				}

				.icon {
					display: flex;
					justify-content: center;
				}

				.number {
				}
			}
		}

		svg.accuracy {
			--color: rgb(72, 196, 255);
			display: block;
			grid-area: accuracy;
			margin: 0 auto;
			max-width: 9rem;
			position: relative;

			* {
				font-size: 64pt;
			}

			path,
			rect,
			text {
				fill: var(--color);
			}

			.fill-circle {
				fill: transparent;
				opacity: .4;
				stroke: var(--color);
				transform: rotate(-90deg);
				transform-origin: center;
			}
		}

		.player-shots {
			align-self: center;
			grid-area: shots;
			text-align: center;

			.number svg {
				display: inline-block;
				width: auto;
			}

			svg {
				max-height: 3rem;
				width: 100%;

				.empty path {
					fill: transparent;
					stroke: currentColor;
					stroke-width: 2px;
				}
			}
		}

		.player-favourites {
			grid-area: favourites;
		}

		.player-hits-player {
			grid-area: hitsPlayers;
		}

		.player-today {
			grid-area: today;
			text-align: center;

			.categories {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-evenly;
			}

			.today-category {
				cursor: pointer;
				min-width: 7em;
				padding: .2rem;
			}

			.label {
				font-weight: bold;
			}
		}
	}

	.results-teams {
		display: flex;
		flex-direction: row;
		grid-area: teams;
		height: 8rem;
		width: 100%;

		.team-score {
			align-items: center;
			display: flex;
			flex-direction: column;
			height: 100%;
			justify-content: center;
			min-height: 5rem;
			min-width: 5rem;
			width: var(--size);
		}
	}

	.results-hits {
		grid-area: hits;
	}

	.player-body {
		align-items: center;
		grid-row-gap: 1.5rem;
		grid-template-areas:
			'trophy'
			'accuracy'
			'shots'
			'favourites'
			'hits'
			'hitsPlayers'
			'mines'
			'score'
		  'today';
		grid-template-columns: 1fr;

		&.show, &.collapsing {
			display: grid;
		}
	}

	.player-trophies {
		grid-area: trophy;

		.trophies {
			align-items: center;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
		}

		.trophy {
			text-align: center;
		}
	}
}

@include media-breakpoint-up(sm) {
	.game-results {
		.player-body {
			grid-template-areas:
					'trophy trophy'
					'accuracy shots'
					'hits hits'
					'favourites favourites'
					'hitsPlayers hitsPlayers'
					'mines mines'
					'score score'
					'today today';
			grid-template-columns: 1fr 1fr;
		}

		.game-head {
			grid-template-areas: 'info scoring' 'info scoring' 'legend legend';
			grid-template-columns: 1fr 1fr;
		}
	}
}

@include media-breakpoint-up(md) {
	.game-results {
		grid-template-areas:
		'head head'
		'win win'
		'players teams'
		'hits hits';
		grid-template-columns: 1fr 7rem;

		&.solo {
			grid-template-areas:
		 'head head'
		 'win win'
		 'players players'
		 'hits hits';
		}

		.results-teams {
			flex-direction: column;
			height: 100%;

			.team-score {
				height: var(--size);
				width: 100%;
			}
		}

		.player-body {
			grid-template-areas:
					'trophy trophy trophy'
					'accuracy mines shots'
					'favourites hits hits'
					'score score score'
					'today today today';
			grid-template-columns: 1fr 1fr 1fr;
		}

		.game-head {
			grid-template-areas: 'info scoring' 'info legend';
			grid-template-columns: 1fr 2fr;
		}
	}
}