<div class="alert alert-primary my-4">
    <div class="fs-3">{faSolid 'circle-question'} Pomozte nám zlepšit LaserLigu!</div>
    <p>
        Vyplňte prosím krátký dotazník, který nám pomůže zjistit, co můžeme zlepšit.
    </p>
    <a href="{link 'dotaznik', 'game'}" target="_blank" class="btn btn-info">
        {faSolid 'clipboard-question'}
        Dotazník
    </a>
</div>