// File: _customVariables.scss
// Author: Tomáš Vojík <xvojik00@stud.fit.vutbr.cz>
// Custom variables, that rewrite default Bootstrap values
@use 'colors' as *;
@use 'colorsDark' as *;
@use 'sass:map';
@use '../functions';

$tmp-theme-colors: functions.getThemeColors($custom-colors-light);

$link-color: var(--white);
$link-hover-color: var(--danger);

$navbar-dark-color: var(--white);
$navbar-dark-hover-color: var(--danger);

$body-bg: map.get($tmp-theme-colors, 'background');
$body-color: map.get($tmp-theme-colors, 'text');

$table-striped-bg-factor: .05;
$table-striped-bg: rgba(#fff, $table-striped-bg-factor);

$form-check-label-cursor: pointer;
//$form-check-input-border: 1px solid var(--white);

$nav-tabs-link-active-color: var(--white);

$input-group-addon-color: var(--background);

// Modal
$modal-content-bg: var(--background);

// Table
$table-bg: var(--table-background);
$table-striped-bg: var(--table-striped-background);
$table-color: var(--table-color);
$table-striped-color: var(--table-striped-color);
