{templateType App\Templates\User\UserHistoryParameters}

{default array $fields = [
'start' => ['name' => lang('Datum'), 'sortable' => true],
'id_arena' => ['name' => lang('Aréna'), 'sortable' => true],
'modeName' => ['name' => lang('Herní mód'), 'sortable' => true],
'players' => ['name' => lang('Hráči'), 'sortable' => false],
'skill' => ['name' => lang('Herní výkon'), 'sortable' => true],
'rank_difference' => ['name' => lang('Změna herní úrovně'), 'sortable' => true],
]}

{\App\Tools\Color::getGamesColor($games)|noescape}

<p n:if="$currentUser" class="alert alert-info text-center">
    {_'Hry si můžete sami přiřadit nebo odebrat pouze první měsíc po vytvoření účtu. Poté lze upravovat jen hry z posledních 2 týdnů. Jakoukoliv jinou změnu musí vyřešit podpora na <a href="https://discord.gg/2ZM6VMuGBY" target="_blank">Discord</a> serveru nebo přes e-mail <a href="mailto:info@laserliga.cz">info@laserliga.cz</a>.'|noescape}
</p>


{embed '../gameList.latte',
user: $user,
games: $games,
rankDifferences: $rankDifferences,
p: $p,
pages: $pages,
limit: $limit,
total: $total,
orderBy: $orderBy,
desc: $desc,
modeIds: $modeIds,
date: $date,
dates: $dates,
allFields: $allFields,
currentUser: $currentUser,
canManageGames: $canManageGames,
fields: $fields
}
    {block tableId}user-history-table{/block}
    {block additionalActions}
        {varType App\GameModels\Game\Game $game}
        {var string $removeTitle = $currentUser ? lang('To nejsem já') : lang('Odebrat hru z profilu')}
        <button n:if="$canManageGames || ($currentUser && App\Services\Player\PlayerUserService::canModifyGame($user, $game->start))" class="btn btn-danger remove-game-from-profile" data-toggle="tooltip"
                                    data-code="{$game->code}" data-user="{$user->id}"
                                    data-confirm="{lang 'Opravdu chcete hru odstranit z profilu?'}"
                                    title="{$removeTitle}" type="button">
            {faSolid 'cancel'}
        </button>
    {/block}
{/embed}
