svg.accuracy {
  --color: rgb(72, 196, 255);
  display: block;
  margin: 0 auto;
  max-width: 9rem;
  position: relative;

  * {
    font-size: 64pt;
  }

  path,
  rect,
  text {
    fill: var(--color);
  }

  .fill-circle {
    fill: transparent;
    opacity: .4;
    stroke: var(--color);
    transform: rotate(-90deg);
    transform-origin: center;
  }
}