@use "sass:map";

.flex-fill-same {
	flex: 1 1 0 !important;
}

.full-width {
  width: 100vw;
  margin-left: calc((100vw - 100%) / -2);
}


@each $breakpoint, $window in $grid-breakpoints {
	@include media-breakpoint-up($breakpoint) {

		.flex-#{$breakpoint}-fill-same {
			flex: 1 1 0 !important;
		}

		@each $key, $utility in map_get-multiple($utilities, ("width", "max-width", "viewport-width", "min-viewport-width", "height", "max-height", "viewport-height", "min-viewport-height")) {
			@if type-of($utility) == "map" {
				$class: map.get($utility, "class");
				$property: map.get($utility, "property");

				@each $name, $value in map.get($utility, "values") {
					.#{$class}-#{$breakpoint}-#{$name} {
						#{$property}: $value !important;
					}
				}
			}
		}
	}
}
