.hero,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: var(--dtp-dark-grey);
	font-family: Nunito Sans, sans-serif;
	text-align: center;
}

.hero {
	font-size: 54px;
	line-height: 67px;
}

h1 {
	font-weight: 600;
}
